* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {    
    width: 17vw;
    height: 100vh;
    border-right: 1px solid #616161;
    background: #262626;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: fixed;
    overflow-y : scroll;
}

.logo {
    text-align: center;
}

.logo img {
    width: 120px;
    height: auto;
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    text-decoration: none;
    color: #ccc;
    transition: background 0.3s ease;
}

.nav-item img {
    width: 20px;
    height: 20px;
}

.nav-item:hover {
    background-color: #333333;
    color: white;
}

.nav-item.active {
    border-radius: 0.6875rem;
    background: #FFF;
}

.nav-item.active span {
    color: #262626;
}

.nav-links span {
    color: #FFF;
    font-family: Karla;
    font-size: 1.22988rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.02463rem;
}